<a href="https://colab.research.google.com/github/peterisT123/FullStack/blob/main/lecture_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python pamati
## Zarošanās (branching)

In [2]:
age = 12

if age < 4:
    print("Your admission cost is $0.")
elif age < 18:
    print("Your admission cost is $25.")
else:
    print("Your admission cost is $40.")

Your admission cost is $25.

https://pythontutor.com/

## If-else izteiksme

In [ ]:
age = 17
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")
else:
    print("Sorry, you are too young to vote.")
    print("Please register to vote as soon as you turn 18!")

## Python loģiskie operatori

In [8]:
q = input('Enter your age: ') #šeit ir ievads kā tekstsa virkne
age = int(q) #nodefinē, ka veseli skaitļi pieļaujami input

if age < 3:
    print("Toddler")
elif age >=3 and age <10:
    print("Child")
elif age >=10 and age < 20:
    print("Teenager")
else:
    print("Adult")
print("Thank you for taking part in our survey!") # kamēr bez atkāpes, šis izpildās kā pēdējais, ja ieliks ar atkāpi, tas izpildīties tikai pie else bloka
if age == 1:
    print("none")
    print("none2")

Enter your age: 1
Toddler
Thank you for taking part in our survey!
none
none2

## If izteiksme (if statement)

In [32]:
age = 10 # Vecums ir 10, ja vecums ir mazāks par 4, cena 0, virs 18 = 25, līdz 65 = 40, virz 65 = 20
if age < 4:
    price = 0
elif age < 18:
    price = 25
elif age < 65:
    price = 40
elif age >= 65:
    price = 20

print(f"Your admission cost is ${price}.")

Your admission cost is $25.

In [10]:
requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
    print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
    print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
    print("Adding extra cheese.")
print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

## Cikla konstrukcijas

### Cikls for, apstrādājot veselu skaitļu intervālu

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(2, 20, 2)) #ik pa divis sākot ar 2 līz 20 -1

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [22]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [34]:
for x in range(2, 30, 4):
    print(x)

2
6
10
14
18
22
26

In [24]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i] # no saraksta atlasa elementu ar indeksu i, šis len ļauj atlasīt pirmo elementu, tad to elementu saglabā mainigajā val, tad nākošajā loop pie 1 atlasīs no rasaksta otro, utt
    print(val)

1
2
3
4

In [25]:
seq = [1, 2, 3, 4]
for i in seq: #šis izdarīs to pašu
    print(i)

1
2
3
4

In [26]:
for i in range(10):
    print(i+5)

5
6
7
8
9
10
11
12
13
14

## Cikls for, apstrādājot elementu kopumu

In [36]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)
print("\nThank you, these fruits are amazing!")

apple
banana
cherry

Thank you, these fruits are amazing!

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

In [ ]:
collection = [1, 2, 3, 4]
for i in collection:
    x = i * 3
    print(x)

In [ ]:
# zip()
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

In [ ]:
players = ["Sachin", "Sehwag", "Gambhir", "Dravid", "Raina"]

scores = [100, 15, 17, 28, 43]

for pl, sc in zip(players, scores):
    print(f"Player : {pl}  Score : {sc}")

## List Comprehension

In [ ]:
my_list = [ 2, 5, 6 ]
new_list = [ item+1 for item in my_list ]
print(new_list)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

In [ ]:
my_list = [ 2, 5, 6 ]
for item in my_list:
    print(item+1)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
for x in fruits:
    print(x.upper())

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

In [ ]:
for x in strings:
    if len(x) > 2:
        print(x.upper())

In [ ]:
lengths = [len(x) for x in strings] #list
print(lengths)
unique_lengths = {len(x) for x in strings} # set
print(unique_lengths)

In [ ]:
loc_mapping = {val : index for index, val in enumerate(strings)}
print(loc_mapping)

## for cikls ar vārdnīcām

In [ ]:
user_0 = { 'username': 'efermi', 'first': 'enrico', 'last': 'fermi',}
for key, value in user_0.items():
    print(f"\nKey: {key}")
    print(f"Value: {value}")

### enumerate()

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
i = 0
for value in strings:
    print(f"index: {i}, value: {value}")
    i += 1

In [ ]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
    print(mapping)

## for cikls ar vārdnīcās atslēgām

In [ ]:
favorite_languages = { 'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python',}

for key in favorite_languages.keys():
    print(key.title())

## for cikls ar vārdnīcās vērtībām

In [ ]:
favorite_languages = { 'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python', }

print("The following languages have been mentioned:")
for value in favorite_languages.values():
    print(value.title())

In [ ]:
favorite_languages = { 'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python', }

lang = []
for value in favorite_languages.values():
    lang.append(value)
lang

## Cikls ar priekšnosacījumu while

In [ ]:
current_number = 1
while current_number <= 5:
    print(current_number)
    current_number += 1

## Operatori break un continue

In [ ]:
for i in range(9):
    if i > 3:
        break
    print(i)

In [ ]:
for i in range(9):
    if i == 3:
        continue
    print(i)

In [ ]:
sequence = [1, 2, None, 4, None, 5]
for value in sequence:
    if value is None:
        continue
    print(value)

In [ ]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1, 5]
for value in sequence:
    if value == 5:
        break
    print(value)

## Funkcijas

### Parametri un argumenti

In [ ]:
def my_function(fname, lname): # fname un lname ir parametri
    print(fname + " " + lname)

my_function("Emil", "Refsnes") # "Emil“ un  "Refsnes“ ir argumenti
my_function("Tom", "White")

## Funkcijas definīcija un izsaukumi

In [ ]:
def greet_user():
    print("Hello!") # funkcijas definīcija

In [ ]:
greet_user() # funkcijas izsaukums

## Pozicionālie argumenti

In [ ]:
def describe_pet(animal_type, pet_name):
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet('dog', 'harry')

## Atslēgvārda argumenti

In [ ]:
def describe_pet(animal_type, pet_name):
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet(pet_name='harry', animal_type='dog')
describe_pet(animal_type='dog', pet_name='harry')

## Noklusējuma vērtības

In [ ]:
def describe_pet(pet_name, animal_type='dog'):
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name.title()}.")
describe_pet(pet_name='willie')
describe_pet('willie')
describe_pet(pet_name='harry', animal_type='hamster')
describe_pet('Tom', 'cat')

## Atgrieztās vērtības (return values)

In [ ]:
def get_formatted_name(first_name, last_name):
    full_name = f"{first_name} {last_name}"
    return full_name.title()
musician = get_formatted_name('jimi', 'hendrix')
print(musician)

In [ ]:
def add(a, b):
    return a + b
res = add(2, 3)
print(f"Result of add function is {res*3}")

## Neobligātie argumenti

In [ ]:
def get_formatted_name(first_name, last_name, middle_name=''):
    if middle_name:
        full_name = f"{first_name} {middle_name} {last_name}"
    else:
        full_name = f"{first_name} {last_name}"
    return full_name.title()

musician = get_formatted_name('jimi', 'hendrix',  "james")
print(musician)

## *args, **kwargs

In [ ]:
def make_pizza(*args):
    print(args)

make_pizza('pepperoni')
make_pizza('mushrooms', 'green peppers', 'extra cheese')

In [ ]:
def print_kwargs(**kwargs):
        print(kwargs)

print_kwargs(kwargs_1="Shark", kwargs_2=4.5, kwargs_3=True)

def print_values(**kwargs):
    for key, value in kwargs.items():
        print(f"The value of {key} is {value}")

print_values(my_name="Sammy", your_name="Casey")

## funkcijas ar if-else un for

In [ ]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

a = my_function(5, 6, z=0.7)
print(round(a, 2))
b= my_function(3.14, 7, 3.5)
print(b)
c = my_function(10, 20)
print(c)

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)
func()
print(a)

In [ ]:
def func():
    a = []
    for i in range(5):
        a.append(i)
    return a

b = func()
print(b)

## lambda

In [ ]:
# lambda arguments : expression

x = lambda a : a + 10
print(x(5))

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

In [ ]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)