<a href="https://colab.research.google.com/github/peterisT123/FullStack/blob/main/lecture_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python pamati
## Zarošanās (branching)

In [2]:
age = 12

if age < 4:
    print("Your admission cost is $0.")
elif age < 18:
    print("Your admission cost is $25.")
else:
    print("Your admission cost is $40.")

Your admission cost is $25.

https://pythontutor.com/

## If-else izteiksme

In [ ]:
age = 17
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")
else:
    print("Sorry, you are too young to vote.")
    print("Please register to vote as soon as you turn 18!")

## Python loģiskie operatori

In [8]:
q = input('Enter your age: ') #šeit ir ievads kā tekstsa virkne
age = int(q) #nodefinē, ka veseli skaitļi pieļaujami input

if age < 3:
    print("Toddler")
elif age >=3 and age <10:
    print("Child")
elif age >=10 and age < 20:
    print("Teenager")
else:
    print("Adult")
print("Thank you for taking part in our survey!") # kamēr bez atkāpes, šis izpildās kā pēdējais, ja ieliks ar atkāpi, tas izpildīties tikai pie else bloka
if age == 1:
    print("none")
    print("none2")

Enter your age: 1
Toddler
Thank you for taking part in our survey!
none
none2

## If izteiksme (if statement)

In [32]:
age = 10 # Vecums ir 10, ja vecums ir mazāks par 4, cena 0, virs 18 = 25, līdz 65 = 40, virz 65 = 20
if age < 4:
    price = 0
elif age < 18:
    price = 25
elif age < 65:
    price = 40
elif age >= 65:
    price = 20

print(f"Your admission cost is ${price}.")

Your admission cost is $25.

In [10]:
requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
    print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
    print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
    print("Adding extra cheese.")
print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

## Cikla konstrukcijas

### Cikls for, apstrādājot veselu skaitļu intervālu

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(2, 20, 2)) #ik pa divis sākot ar 2 līz 20 -1

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [33]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [22]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [34]:
for x in range(2, 30, 4):
    print(x)

2
6
10
14
18
22
26

In [24]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i] # no saraksta atlasa elementu ar indeksu i, šis len ļauj atlasīt pirmo elementu, tad to elementu saglabā mainigajā val, tad nākošajā loop pie 1 atlasīs no rasaksta otro, utt
    print(val)

1
2
3
4

In [25]:
seq = [1, 2, 3, 4]
for i in seq: #šis izdarīs to pašu
    print(i)

1
2
3
4

In [26]:
for i in range(10):
    print(i+5)

5
6
7
8
9
10
11
12
13
14

## Cikls for, apstrādājot elementu kopumu

In [36]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)
print("\nThank you, these fruits are amazing!")

apple
banana
cherry

Thank you, these fruits are amazing!

In [40]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]: #tiek atalsīti pirmie 3 elementi
    print(player.title())
    print(player.upper())

Here are the first three players on my team:
Charles
CHARLES
Martina
MARTINA
Michael
MICHAEL

In [44]:
collection = [1, 2, 3, 4]
for i in collection[:2]:
    x = i * 3
    print(x)

3
6

In [45]:
collection = [1, 2, 3, 4]
for i in collection:
    x = i * 3
    print(x)

3
6
9
12

In [43]:
collection = [1, 2, 3, 4]
for i in collection:
  i *= 3
  print(i)

3
6
9
12

In [46]:
# zip() #šīr if zip funkcija
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
players = ["Sachin", "Sehwag", "Gambhir", "Dravid", "Raina"]

scores = [100, 15, 17, 28, 43]

for pl, sc in zip(players, scores):
    print(f"Player : {pl}  Score : {sc}")

In [50]:
players = ["Sachin", "Sehwag", "Gambhir", "Dravid", "Raina"]

scores = [100, 15, 17, 28, 43]
player_scores = {}
for pl, sc in zip(players, scores):
    player_scores[pl] = sc

print(player_scores)

{'Sachin': 100, 'Sehwag': 15, 'Gambhir': 17, 'Dravid': 28, 'Raina': 43}

## List Comprehension

In [52]:
my_list = [ 2, 5, 6 ]
new_list = [ item+1 for item in my_list ]
print(new_list)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

[3, 6, 7]
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [51]:
my_list = [ 2, 5, 6 ]
for item in my_list:
    print(item+1)

3
6
7

In [54]:
my_list = [ 2, 5, 6 ]
new_list = []
for item in my_list:
    new_list.append(item+1)
print(new_list)

[3, 6, 7]

In [ ]:
my_list = [ 2, 5, 6 ]
new_list = []
for item in my_list:
    new_list.append(item+1)
print(new_list)

In [53]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
for x in fruits:
    print(x.upper())

APPLE
BANANA
CHERRY
KIWI
MANGO

In [55]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2] #virknes garuman jābūt lielākām par 2 simboliem,

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [56]:
for x in strings:
    if len(x) > 2:
        print(x.upper())

BAT
CAR
DOVE
PYTHON

In [57]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
#[x.upper() for x in strings if len(x) > 2] #virknes garuman jābūt lielākām par 2 simboliem,
for x in strings:
    if len(x) > 2:
        print(x.upper())
    print(f"Rezultāts: {x}")
print(f"beigas {x}")

Rezultāts: a
Rezultāts: as
BAT
Rezultāts: bat
CAR
Rezultāts: car
DOVE
Rezultāts: dove
PYTHON
Rezultāts: python
beigas python

In [60]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
lengths = [len(x) for x in strings] #list #list comprehension var izmantot ne tikai sarakstiem ar teksta virknēm

print(lengths)
unique_lengths = {len(x) for x in strings} # set set var būt tikai unikālas vērtības
print(unique_lengths)
unique_lengths = list(unique_lengths)
print(unique_lengths)

[1, 2, 3, 3, 4, 6]
{1, 2, 3, 4, 6}
[1, 2, 3, 4, 6]

In [63]:
loc_mapping = {val : index for index, val in enumerate(strings)} #enumerate
print(loc_mapping)
list(enumerate(strings))

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

[(0, 'a'), (1, 'as'), (2, 'bat'), (3, 'car'), (4, 'dove'), (5, 'python')]

## for cikls ar vārdnīcām

In [66]:
user_0 = { 'username': 'efermi', 'first': 'enrico', 'last': 'fermi',}
for key, value in user_0.items():  #ar items tiek iterēts gan atslēgām gan vērtībām
    print(f"\nKey: {key}")
    print(f"Value: {value}")

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

### enumerate()

In [67]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
i = 0
for value in strings:
    print(f"index: {i}, value: {value}")
    i += 1

index: 0, value: a
index: 1, value: as
index: 2, value: bat
index: 3, value: car
index: 4, value: dove
index: 5, value: python

In [68]:
some_list = ['foo', 'bar', 'baz']
mapping = {} #inicializēta tukša vārdnīca
for i, v in enumerate(some_list):
    mapping[v] = i
    print(mapping)

{'foo': 0}
{'foo': 0, 'bar': 1}
{'foo': 0, 'bar': 1, 'baz': 2}

## for cikls ar vārdnīcās atslēgām

In [69]:
favorite_languages = { 'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python',}

for key in favorite_languages.keys(): # keys ar atslēām iterēs tikai cilvēka vārdus (key)
    print(key.title())

Jen
Sarah
Edward
Phil

## for cikls ar vārdnīcās vērtībām

In [70]:
favorite_languages = { 'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python', }

print("The following languages have been mentioned:")
for value in favorite_languages.values(): # values ar vērībām iterēs tikai programmēšanas valodas (key)
    print(value.title())

The following languages have been mentioned:
Python
C
Ruby
Python

In [75]:
favorite_languages = { 'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python', }

lang = []
for value in favorite_languages.values():
    lang.append(value)
lang

['python', 'c', 'ruby', 'python']

## Cikls ar priekšnosacījumu while

In [74]:
current_number = 1
while current_number <= 5:
    print(current_number)
    current_number += 1

1
2
3
4
5

## Operatori break un continue

In [73]:
for i in range(9):
    if i > 3:
        break
    print(i)

0
1
2
3

In [72]:
for i in range(9):
    if i == 3: #izlaidīs skaitli 3
        continue
    print(i)

0
1
2
4
5
6
7
8

In [76]:
sequence = [1, 2, None, 4, None, 5] #none phuyt valodā ir tukšums
for value in sequence: # uz katras iterācijas pārbauda vai ir None, ja nav, tad drukāja, ja ir tad izlaižam
    if value is None:
        continue
    print(value)

1
2
4
5

In [77]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1, 5]
for value in sequence:
    if value == 5: #pātrauks pēc 5
        break
    print(value)

1
2
0
4
6

## Funkcijas

### Parametri un argumenti

In [80]:
def my_function(fname, lname): # fname un lname ir parametri
    print(fname + " " + lname)

my_function("Emil", "Refsnes") # "Emil“ un  "Refsnes“ ir argumenti
my_function("Tom", "White")

Emil Refsnes
Tom White

In [81]:
fname = input("Enter your first name: ")
lname = input("Enter your last name: ")
my_function(fname, lname)
print(f"Your name is {fname} {lname}")

Enter your first name: Pētersis
Enter your last name: Trokša
Pētersis Trokša
Your name is Pētersis Trokša

## Funkcijas definīcija un izsaukumi

In [82]:
def greet_user():
    print("Hello!") # funkcijas definīcija

In [83]:
greet_user() # funkcijas izsaukums

Hello!

## Pozicionālie argumenti

In [84]:
def describe_pet(animal_type, pet_name): #pozicionālie jānorāda tādā kārtībā kā prasīts
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet('dog', 'harry')

I have a dog.
My dog's name is Harry.

## Atslēgvārda argumenti

In [85]:
def describe_pet(animal_type, pet_name): #izsaucot funkcju raksta parametru un argumentu. secībai nav nozīmes
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet(pet_name='harry', animal_type='dog')
describe_pet(animal_type='dog', pet_name='harry')

I have a dog.
My dog's name is Harry.

I have a dog.
My dog's name is Harry.

## Noklusējuma vērtības

In [86]:
def describe_pet(pet_name, animal_type='dog'): # parametram var piešķirt argumetnu pēc noklusējuma = dog
    print(f"\nI have a {animal_type}.")
    print(f"My {animal_type}'s name is {pet_name.title()}.")
describe_pet(pet_name='willie')
describe_pet('willie')
describe_pet(pet_name='harry', animal_type='hamster') #overtwriting ar hamster
describe_pet('Tom', 'cat')

I have a dog.
My dog's name is Willie.

I have a dog.
My dog's name is Willie.

I have a hamster.
My hamster's name is Harry.

I have a cat.
My cat's name is Tom.

## Atgrieztās vērtības (return values)

In [101]:
def get_formatted_name(first_name, last_name):
    full_name = f"{first_name} {last_name}"
    return full_name.title()
musician = get_formatted_name('jimi', 'hendrix')
print(musician)

Jimi Hendrix

In [88]:
def add(a, b):
    return a + b
res = add(2, 3) #funkcijas izveidotais iznākums var tik saglabāts kā mainīgais
print(f"Result of add function is {res*3}")

Result of add function is 15

## Neobligātie argumenti

In [89]:
def get_formatted_name(first_name, last_name, middle_name=''): # middle_name var pieškirt tukšu vikrnī, lai ir true IF definājot
    if middle_name:
        full_name = f"{first_name} {middle_name} {last_name}"
    else:
        full_name = f"{first_name} {last_name}"
    return full_name.title()

musician = get_formatted_name('jimi', 'hendrix',  "james")
print(musician)

Jimi James Hendrix

## *args, **kwargs

In [104]:
def make_pizza(*args):   #args priekš kad nezinām cik paramteri būs, te izveidojoas tukšs slēgtais saraksts ()
    print(args)

make_pizza('pepperoni')
make_pizza('mushrooms', 'green peppers', 'extra cheese')

('pepperoni',)
('mushrooms', 'green peppers', 'extra cheese')

In [91]:
def print_kwargs(**kwargs): #atslēgas vārda argumenti, tiek veidota vārdnīca ne saraksts ar atslēgu un vērtību
        print(kwargs)

print_kwargs(kwargs_1="Shark", kwargs_2=4.5, kwargs_3=True)

def print_values(**kwargs):
    for key, value in kwargs.items():
        print(f"The value of {key} is {value}")

print_values(my_name="Sammy", your_name="Casey")

{'kwargs_1': 'Shark', 'kwargs_2': 4.5, 'kwargs_3': True}
The value of my_name is Sammy
The value of your_name is Casey

## funkcijas ar if-else un for

In [92]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

a = my_function(5, 6, z=0.7)
print(round(a, 2))
b= my_function(3.14, 7, 3.5)
print(b)
c = my_function(10, 20)
print(c)

0.06
35.49
45.0

In [105]:
a = []
def func():
    for i in range(5):
        a.append(i)
func()
print(a)

[0, 1, 2, 3, 4]

In [106]:
def func():
    a = []
    for i in range(5):
        a.append(i)
    return a

b = func()
print(b)

[0, 1, 2, 3, 4]

## lambda

In [95]:
# lambda arguments : expression  #funkcija bez nosaukuma, ļauj taupīt kodu

x = lambda a : a + 10
print(x(5))

15

In [96]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [97]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [98]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [109]:
#ar map() funkciju vienlaicīgi nekā for ciklam
nums = [1,2]
ssss = map(lambda x: x*2, nums)
print(list(ssss))
sssquere = map(lambda x: x**2, nums)
print(list(sssquere))

[2, 4]
[1, 4]

In [99]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [110]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [ ]:
# @ kā dekarators funkcijas formulēšanas sākumā
@mans_dekarators(funkcija)
def svecieni()